<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{objeto.nome}} {{objeto.codigo}}</h1>
        <button class="button button-primary" ng-click="modalRastreio.hide()">Fechar</button>
    </ion-header-bar>
    <ion-content>
        <div class="card" ng-repeat="registro in objeto.historico">
            <div class="item item-divider">
                <h3>{{registro.local}}</h3>
            </div>
            <div class="item item-text-wrap">
                <p>
                    <h4><i class="icon ion-ios-calendar-outline"></i>&nbsp;&nbsp;{{registro.data}}</h4>
                </p>
                <p>
                    <h4><strong>{{registro.situacao}}</h4></strong>
                </p>
                <div class="row">
                    <h2>{{registro.detalhes}}</h2>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>