<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ngstorage/ngStorage.min.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/services/dadosService.js"></script>
  <script src="js/services/rastreioService.js"></script>
  <script src="js/controllers/appController.js"></script>
</head>

<body ng-app="CorreiosTracker">
  <ion-pane ng-controller="appController">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Correios Tracker</h1>
      <button class="button button-clear" ng-click="novaEncomenda()"><i class="icon ion-plus"></i></button>
    </ion-header-bar>
    <ion-content ng-init="carregarDados()">
      <ion-list>
        <ion-item ng-repeat="item in encomendas" ng-click="rastrear(item)">
          {{item.nome}} - {{item.codigoRastreio}}
          <ion-option-button class="button-assertive" ng-click="excluir(item)">
            Excluir&#xA0;&#xA0;<i class="icon ion-ios-trash"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-pane>
</body>

</html>